@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  letter-spacing: -0.5px;
  overflow-x: hidden;
  margin: 0 auto;
}
.mainwidth {
  width: 100%;
  max-width: 1600px;
  padding: 0 11.5rem;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 1320px) {
}

@media (max-width: 991px) {
  br {
    display: none;
  }
}

@media (max-width: 768px) {
  * {
    word-break: break-all;
  }
  .mainwidth {
    width: 100%;
    max-width: 1600px;
  }
}

@media (max-width: 420px) {
  .mainwidth {
    width: 100%;
    max-width: 1600px;
  }
}

@media (min-width: 320px) {
  .mainwidth {
    width: 100%;
    max-width: 1600px;
  }
}

.buttoncolor {
  background-color: rgb(25, 118, 210) !important;
}
.buttontextcolor{
  color: #fff !important;
}
